 /*black: rgb(40, 44, 45)*/

@font-face {
    font-family: unicaone;
    src: url('font/unicaone/UnicaOne-Regular.ttf');
}

@font-face {
    font-family: vollkorn;
    src: url('font/vollkorn/Vollkorn-Regular.ttf');
}

 html {

 }

body {

    background-image: url("../img/crossword/crossword.png");
    background-color: #00aced;
}

 a {
     font-family: vollkorn;

 }

 div {
    font-family: vollkorn;
 }

 h1 {
     font-family: unicaone;

 }

 p{
     font-size: 1.3rem;
 }

.btn-success {
    background-color: #CD4746;
}

@media only screen and (max-width: 468px)
    and (orientation: portrait) {
    /* Removes carret from hamburger icon */
    a.dropdown-toggle::after {
        display: none;
    }
    /* Colors the hamburger icon */
    .hamburger-icon {
        color: rgb(40, 44, 45);
    }

    /* Removes the underline of the anchor tag and colors it */
    .dropdown-list li a {
        text-decoration: none;
        color: rgb(40, 44, 45);

    }

    /* Sets the background color */
    .dropdown-list li:hover {
        background-color: #cf4646;
        background-image: none;
    }

    .dropdown-menu .list-box {
        border: 1px solid rgb(40, 44, 45);
    }


    .dropdown-list > li a:hover {
        text-decoration: none !important;
        color: ghostwhite;
    }

    .dropdown-list li p {
        font-size: 1.5rem;
        margin-left: 30px;
        height: 150px;
        width: 300px;
    }
    .dropdown-menu {
        border:none !important;
    }

    .menu-title {
        float: right;
        margin-top: 15px;
        margin-right: 45px;
        font-size: 1.7rem;

    }

    #portfolio-div {
        margin-top: 200px;
    }
    .portfolio-image {
        position: relative;
        width: 90%;
        display: block;
        margin: auto;
    }


    .welcome-arrow-down {
        color: rgb(40, 44, 45);
        width: 50px;
        display: inline-block;
        text-align: center;
        visibility: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

    }

     .header-about {
     float: right;
     margin: 0 50px 50px 0;
     }


    .sketch-shb {
        height: 300px;
        float: right;
        margin-bottom: 20px;
    }

    .div-arrow-right-img {
        float: right;
        width: 80px;
        margin-top: 165px;
        visibility: hidden;

    }

    .about-me-text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .img-bergen {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .header-about-3 {
        float: right;
        margin: -30px 20px 0px 0;
    }

    .img-arrow-left {
        width: 50px;
        margin-top: 100px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .img-arrow-left-div {
        margin: 0 0 0 0;
        width: 30px;
        padding: 0 0 0 0;
        margin-top: 100px;
    }

    #project-header {
        margin-bottom: 50px;
        margin-left: 200px;
    }

    .project1-img {
        margin-bottom: 20px;

    }

    .div-github-logo {
        margin-top: 200px;
        margin-left: 20px;
    }
    .arrow-right-mob {
        width: 60px;
        margin-bottom: 150px;
        float: right;
        visibility: hidden;
    }
    .project-2-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
    }

    .contact-header {
        float: right;
        margin-bottom: 75px;
        margin-right: 50px;
    }

    .form-group {
        margin-top: 40px;
    }
    .first-last-name {
        height: 20px;
    }

}

 /*Mobile with landscape orientation*/

 @media only screen and (min-width: 468px)
    and (orientation: landscape) {
         a.dropdown-toggle::after {
        display: none;
    }

     .nav-pills {
         visibility: hidden;

     }

     .hamburger-icon {
        color: rgb(40, 44, 45);
    }
     .dropdown {
         position: absolute;
     }

     /* Removes the underline of the anchor tag and colors it */
    .dropdown-list li a {
        text-decoration: none;
        color: rgb(40, 44, 45);

    }

    /* Sets the background color */
    .dropdown-list li:hover {
        background-color: #cf4646;
        background-image: none;
    }

    .dropdown-menu .list-box {
        border: 1px solid rgb(40, 44, 45);
    }


    .dropdown-list > li a:hover {
        text-decoration: none !important;
        color: ghostwhite;
    }

    .dropdown-list li p {
        font-size: 1.5rem;
        margin-left: 30px;
        height: 50px;
        width: 300px;
    }
    .dropdown-menu {
        border:none !important;
    }

    .menu-title {
        position: absolute;
        float: right;
        margin-top: 15px;
        margin-right: 170px;
        font-size: 1.7rem;
        margin-left: 30px;
    }
    #welcome-heading {
        margin-left: 480px;
        padding-right: 30px;
        visibility: hidden;
    }

    .portfolio-image {
        position: relative;
        width: 60%;
        display: block;
        margin: auto;

    }


    .container-about {
        margin: 0 0 0 0;
    }

    .header-about {
        position: static;
        margin-left: 500px;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .sketch-shb {
        position: absolute;
        height: 280px;
        margin-bottom: 20px;
    }


    .div-arrow-right-img {
        float: right;
        width: 80px;
        margin-top: 165px;
        visibility: hidden;

    }
    .about-row{
        position: absolute;
        width: 100%;
    }
    .about-text-div {
        width: 100%;
        margin-left: 220px;
        margin-bottom: 400px;
    }

    .about-me-text {
        width: 60%;
    }


    .img-bergen {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .header-about-3 {
        float: right;
        margin: -30px 20px 0px 0;
    }

    .img-arrow-left {
        width: 50px;
        margin-top: 100px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .img-arrow-left-div {
        width: 30px;
        padding: 0 0 0 0;
        margin-top: 100px;
    }

    #project-header {
        margin-bottom: 50px;
        margin-left: 200px;
    }

    .project1-img {
        margin-bottom: 20px;

    }

    .div-github-logo {
        margin-top: 20px;
        margin-left: 20px;
    }
    .arrow-right-mob {
        width: 60px;
        float: right;
    }
    .project-2-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
    }

    .contact-header {
        float: right;
        margin-bottom: 75px;
        margin-right: 50px;
    }

    .form-group {
        padding: 20px;


    }
    .first-last-name {
        height: 50px;

    }

 }

 @media only screen and (min-width: 750px) {

     /*Disables the navbar made for mobile*/
     .hamburger-navbar {
         display: none;
     }

     .portfolio-image {
         width: 60%;
         display: block;
         margin: auto;
     }

     .container-about {
         margin-bottom: 300px;
     }

     .header-about {
         margin-left: 500px;
         margin-top: 60px;
     }

     .arrow-right-img {
         display: none;
     }

     .sketch-shb {
         height: 350px;
         margin-left: 100px;
         margin-top: 120px;
     }

     .about-row {
         width: 100%;
     }

     .about-text-div {

         width: 80%;
         margin-left: 100px;
         margin-top: 100px;
     }

     .about-me-text {

         width: 60%;
         font-size: 1.5rem;
     }

     .img-bergen {
         width: 440px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 50px;
     }

     .text-about-me-2 {
         margin-right: 150px;
         margin-left: 150px;
     }

     /*Projects page*/
     .project-container {
         margin-bottom: 400px;
     }

     #project-header {
         margin-top: 80px;
         margin-left: 500px;
     }

     .project-images {
         margin-top: 250px;
     }

     .div-github-logo {
         margin-top: 120px;
         margin-left: 20px;
     }

     .arrow-right-mob {
         display: none;
     }

     .project-2-img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 150px;
     }

     .contact-header {
         float: right;
         margin-right: 100px;
         margin-top: 100px;
     }

     .section-contact {
         margin-bottom: 400px;
     }

     .contact-icon {
         margin-top: 300px;
         margin-left: 260px;
         margin-bottom: 50px;
     }

     .form-group {
         padding: 20px;
     }

     .first-last-name {
         height: 50px;

     }

     .send-button {
         margin-top: 50px;
     }

 }


 @media only screen and (min-width: 1010px)
    and (orientation: landscape) {
     /*Disables the navbar made for mobile*/
     .hamburger-navbar {
         display: none;
     }

     .portfolio-image {
         width: 60%;
         display: block;
         margin: auto;
     }

     .container-about {
         margin-bottom: 300px;
     }

     .header-about {
         margin-left: 720px;
         margin-top: 60px;
     }

     .arrow-right-img {
         display: none;
     }

     .sketch-shb {
         height: 350px;
         margin-left: 100px;
         margin-top: 120px;
     }

     .about-row {
         width: 100%;
     }

     .about-text-div {

         width: 80%;
         margin-left: 400px;
         margin-top: 200px;
     }

     .about-me-text {

         width: 60%;
         font-size: 1.5rem;
     }

     .img-bergen {
         width: 440px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 50px;
     }

     .text-about-me-2 {
         margin-right: 150px;
         margin-left: 150px;
     }

     /*Projects page*/
     .project-container {
         margin-bottom: 400px;
     }

     #project-header {
         margin-top: 80px;
         margin-left: 700px;
     }

     .project-images {
         margin-top: 50px;
         width: 700px;
         display: block;
         margin: auto auto;
     }

     .div-github-logo {
         margin-top: 50px;
         margin-left: 20px;
     }

     .arrow-right-mob {
         display: none;
     }

     .project-2-img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 150px;
     }

     .contact-header {
         float: right;
         margin-right: 100px;
         margin-top: 100px;
     }

     .section-contact {
         margin-bottom: 400px;
     }

     .contact-icon {
         margin-top: 300px;
         margin-left: 340px;
         margin-bottom: 50px;
     }

     .form-group {
         padding: 20px;
     }

     .first-last-name {
         height: 50px;

     }

     .send-button {
         margin-top: 50px;
     }




 }